In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
pd.options.display.max_columns = None
netflix_bestMovies_By_Year = pd.read_csv(r'E:\data analysis projects\Netflix\Best Movie by Year Netflix.csv')
netflix_bestMovies = pd.read_csv(r'E:\data analysis projects\Netflix\Best Movies Netflix.csv')
netflix_bestShow_By_Year = pd.read_csv(r'E:\data analysis projects\Netflix\Best Show by Year Netflix.csv')
netflix_bestShows = pd.read_csv(r'E:\data analysis projects\Netflix\Best Shows Netflix.csv')
netflix_raw_credits = pd.read_csv(r'E:\data analysis projects\Netflix\raw_credits.csv')
netflix_raw_titles = pd.read_csv(r'E:\data analysis projects\Netflix\raw_titles.csv')

<a id="intro"></a>
<h2>   
      <font color = blue >
            <span style='font-family:Georgia'>
            1. raw credits data set:
            </span>   
        </font>    
</h2>

In [2]:
netflix_raw_credits

,index,person_id,id,name,character,role
0,0,3748,tm84618,Robert De Niro,Travis Bickle,ACTOR
1,1,14658,tm84618,Jodie Foster,Iris Steensma,ACTOR
2,2,7064,tm84618,Albert Brooks,Tom,ACTOR
3,3,3739,tm84618,Harvey Keitel,Matthew 'Sport' Higgins,ACTOR
4,4,48933,tm84618,Cybill Shepherd,Betsy,ACTOR
...,...,...,...,...,...,...
77208,77208,1347054,tm1098060,Nnenna Rachael Okonkwo,Afinni,ACTOR
77209,77209,157590,tm1098060,Lucien Morgan,Dr. Ian Stones,ACTOR
77210,77210,129059,tm1098060,Magdalena Korpas,Jane,ACTOR
77211,77211,2050199,tm1098060,Mistura Olusanya,Nurse Titi,ACTOR
77212,77212,2050423,tm1098060,Yemi Amodu,NaN,DIRECTOR

In [3]:
netflix_raw_credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77213 entries, 0 to 77212
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   index      77213 non-null  int64
 1   person_id  77213 non-null  int64
 2   id         77213 non-null  object
 3   name       77213 non-null  object
 4   character  67586 non-null  object
 5   role       77213 non-null  object
dtypes: int64(2), object(4)
memory usage: 3.5+ MB

In [13]:
netflix_raw_credits.isna().sum(), netflix_raw_credits.isna().sum() / len(netflix_raw_credits)

(index           0
 person_id       0
 id              0
 name            0
 character    9627
 role            0
 dtype: int64,
 index        0.000000
 person_id    0.000000
 id           0.000000
 name         0.000000
 character    0.124681
 role         0.000000
 dtype: float64)

<div class="alert alert-block alert-info">
    <span style='font-family:Georgia'>
        <b>Insight: </b><br>
        nu needed data set
    </span>    
</div>

<a id="intro"></a>
<h2>   
      <font color = blue >
            <span style='font-family:Georgia'>
            2. raw titles data set:
            </span>   
        </font>    
</h2>

In [21]:
netflix_raw_titles

,index,id,title,type,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes
0,0,ts300399,Five Came Back: The Reference Films,SHOW,1945,TV-MA,48,['documentation'],['US'],1.0,NaN,NaN,NaN
1,1,tm84618,Taxi Driver,MOVIE,1976,R,113,"['crime', 'drama']",['US'],NaN,tt0075314,8.3,795222.0
2,2,tm127384,Monty Python and the Holy Grail,MOVIE,1975,PG,91,"['comedy', 'fantasy']",['GB'],NaN,tt0071853,8.2,530877.0
3,3,tm70993,Life of Brian,MOVIE,1979,R,94,['comedy'],['GB'],NaN,tt0079470,8.0,392419.0
4,4,tm190788,The Exorcist,MOVIE,1973,R,133,['horror'],['US'],NaN,tt0070047,8.1,391942.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5801,5801,tm1014599,Fine Wine,MOVIE,2021,NaN,100,"['romance', 'drama']",['NG'],NaN,tt13857480,6.9,39.0
5802,5802,tm1108171,Edis Starlight,MOVIE,2021,NaN,74,"['music', 'documentation']",[],NaN,NaN,NaN,NaN
5803,5803,tm1045018,Clash,MOVIE,2021,NaN,88,"['family', 'drama']","['NG', 'CA']",NaN,tt14620732,6.5,32.0
5804,5804,tm1098060,Shadow Parties,MOVIE,2021,NaN,116,"['action', 'thriller']",[],NaN,tt10168094,6.2,9.0
5805,5805,ts271048,Mighty Little Bheem: Kite Festival,SHOW,2021,NaN,0,"['family', 'comedy', 'animation']",[],1.0,tt13711094,8.8,16.0

In [23]:
netflix_raw_titles.isna().sum() / len(netflix_raw_titles)

index                   0.000000
id                      0.000000
title                   0.000172
type                    0.000000
release_year            0.000000
age_certification       0.449535
runtime                 0.000000
genres                  0.000000
production_countries    0.000000
seasons                 0.647434
imdb_id                 0.076473
imdb_score              0.090079
imdb_votes              0.092835
dtype: float64

<a id="intro"></a>
<h2>   
      <font color = blue >
            <span style='font-family:Georgia'>
            3. Best movies:
            </span>   
        </font>    
</h2>

In [24]:
netflix_bestMovies_By_Year

,index,TITLE,RELEASE_YEAR,SCORE,MAIN_GENRE,MAIN_PRODUCTION
0,0,White Christmas,1954,7.5,romance,US
1,1,The Guns of Navarone,1961,7.5,war,US
2,2,My Fair Lady,1964,7.8,drama,US
3,3,Bonnie and Clyde,1967,7.7,drama,US
4,4,Dirty Harry,1971,7.7,thriller,US
5,5,The Exorcist,1973,8.1,horror,US
6,6,Monty Python and the Holy Grail,1975,8.2,comedy,GB
7,7,Taxi Driver,1976,8.3,crime,US
8,8,Life of Brian,1979,8.0,comedy,GB
9,9,The Blue Lagoon,1980,5.8,romance,US
10,10,Annie,1982,6.6,drama,US
11,11,Christine,1983,6.7,horror,US
12,12,Once Upon a Time in America,1984,8.3,drama,US
13,13,Stand by Me,1986,8.1,drama,US
14,14,Full Metal Jacket,1987,8.3,drama,GB
15,15,When Harry Met Sally...,1989,7.7,romance,US
16,16,Awakenings,1990,7.8,drama,US
17,17,My Girl,1991,6.9,comedy,US
18,18,A River Runs Through It,1992,7.2,drama,US
19,19,Menace II Society,1993,7.5,drama,US
20,20,Forrest Gump,1994,8.8,drama,US
21,21,Desperado,1995,7.1,thriller,US
22,22,Happy Gilmore,1996,7.0,comedy,US
23,23,Neon Genesis Evangelion: The End of Evangelion,1997,8.0,scifi,JP
24,24,Saving Private Ryan,1998,8.6,drama,US
25,25,"Girl, Interrupted",1999,7.3,drama,US
26,26,The Patriot,2000,7.2,drama,DE
27,27,Lagaan: Once Upon a Time in India,2001,8.1,drama,IN
28,28,Road to Perdition,2002,7.7,thriller,US
29,29,Big Fish,2003,8.0,drama,US
30,30,Swades,2004,8.1,drama,IN
31,31,Memoirs of a Geisha,2005,7.3,drama,FR
32,32,Rang De Basanti,2006,8.1,comedy,IN
33,33,Like Stars on Earth,2007,8.3,drama,IN
34,34,Ip Man,2008,8.0,drama,HK
35,35,3 Idiots,2009,8.4,comedy,IN
36,36,Inception,2010,8.8,scifi,GB
37,37,Warrior,2011,8.2,drama,US
38,38,Django Unchained,2012,8.4,western,US
39,39,Rush,2013,8.1,drama,US
40,40,Queen,2014,8.2,drama,IN
41,41,Drishyam,2015,8.2,thriller,IN
42,42,Dangal,2016,8.4,action,IN
43,43,Bāhubali 2: The Conclusion,2017,8.2,fantasy,IN
44,44,Andhadhun,2018,8.2,thriller,IN
45,45,Dave Chappelle: Sticks & Stones,2019,8.4,comedy,US
46,46,David Attenborough: A Life on Our Planet,2020,9.0,documentary,GB
47,47,Bo Burnham: Inside,2021,8.7,comedy,US
48,48,The Tinder Swindler,2022,7.2,crime,GB

In [33]:
netflix_bestMovies

,index,TITLE,RELEASE_YEAR,SCORE,NUMBER_OF_VOTES,DURATION,MAIN_GENRE,MAIN_PRODUCTION
0,0,David Attenborough: A Life on Our Planet,2020,9.0,31180,83,documentary,GB
1,1,Inception,2010,8.8,2268288,148,scifi,GB
2,2,Forrest Gump,1994,8.8,1994599,142,drama,US
3,3,Anbe Sivam,2003,8.7,20595,160,comedy,IN
4,4,Bo Burnham: Inside,2021,8.7,44074,87,comedy,US
...,...,...,...,...,...,...,...,...
382,382,The Trip,2021,6.9,19706,113,comedy,NO
383,383,The Dirt,2019,6.9,47603,108,drama,US
384,384,Top Gun,1986,6.9,329656,110,drama,US
385,385,Radhe Shyam,2022,6.9,21328,138,romance,IN
386,386,Sorry to Bother You,2018,6.9,75653,111,fantasy,US

In [35]:
netflix_bestMovies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 387 entries, 0 to 386
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            387 non-null    int64
 1   TITLE            387 non-null    object
 2   RELEASE_YEAR     387 non-null    int64
 3   SCORE            387 non-null    float64
 4   NUMBER_OF_VOTES  387 non-null    int64
 5   DURATION         387 non-null    int64
 6   MAIN_GENRE       387 non-null    object
 7   MAIN_PRODUCTION  387 non-null    object
dtypes: float64(1), int64(4), object(3)
memory usage: 24.3+ KB

In [26]:
netflix_bestMovies.isna().sum() / len(netflix_bestMovies)

index              0.0
TITLE              0.0
RELEASE_YEAR       0.0
SCORE              0.0
NUMBER_OF_VOTES    0.0
DURATION           0.0
MAIN_GENRE         0.0
MAIN_PRODUCTION    0.0
dtype: float64

<div class="alert alert-block alert-info">
    <span style='font-family:Georgia'>
        <b>Insight: </b><br>
        the movies data set don't need any cleaning, just need to identify the categorizations for the columns, to use them in visualization
    </span>    
</div>

<a id="intro"></a>
<h2>   
      <font color = blue >
            <span style='font-family:Georgia'>
            3. Best Shows:
            </span>   
        </font>    
</h2>

In [27]:
netflix_bestShow_By_Year

,index,TITLE,RELEASE_YEAR,SCORE,NUMBER_OF_SEASONS,MAIN_GENRE,MAIN_PRODUCTION
0,0,Monty Python's Flying Circus,1969,8.8,4,comedy,GB
1,1,Knight Rider,1982,6.9,4,action,US
2,2,Seinfeld,1989,8.9,9,comedy,US
3,3,Star Trek: Deep Space Nine,1993,8.1,7,scifi,US
4,4,Neon Genesis Evangelion,1995,8.5,1,scifi,JP
5,5,Stargate SG-1,1997,8.4,10,scifi,US
6,6,Cowboy Bebop,1998,8.9,1,western,JP
7,7,One Piece,1999,8.8,21,action,JP
8,8,Gilmore Girls,2000,8.2,8,comedy,US
9,9,Trailer Park Boys,2001,8.6,12,comedy,CA
10,10,Naruto,2002,8.4,6,scifi,JP
11,11,Chappelle's Show,2003,8.8,3,comedy,US
12,12,The 4400,2004,7.3,4,scifi,US
13,13,Avatar: The Last Airbender,2005,9.3,3,scifi,US
14,14,DEATH NOTE,2006,9.0,1,scifi,JP
15,15,iCarly,2007,6.7,6,comedy,US
16,16,Breaking Bad,2008,9.5,5,drama,US
17,17,Community,2009,8.5,6,comedy,US
18,18,Downton Abbey,2010,8.7,6,drama,GB
19,19,Hunter x Hunter,2011,9.0,3,drama,JP
20,20,Call the Midwife,2012,8.5,11,drama,GB
21,21,Attack on Titan,2013,9.0,4,scifi,JP
22,22,BoJack Horseman,2014,8.8,6,drama,US
23,23,Better Call Saul,2015,8.8,6,comedy,US
24,24,Stranger Things,2016,8.7,5,scifi,US
25,25,Anne with an E,2017,8.7,3,drama,CA
26,26,Cobra Kai,2018,8.6,5,action,US
27,27,Kota Factory,2019,9.3,2,drama,IN
28,28,The Last Dance,2020,9.1,1,documentary,US
29,29,Arcane,2021,9.1,1,action,US
30,30,Heartstopper,2022,8.9,1,drama,GB

In [29]:
netflix_bestShows

,index,TITLE,RELEASE_YEAR,SCORE,NUMBER_OF_VOTES,DURATION,NUMBER_OF_SEASONS,MAIN_GENRE,MAIN_PRODUCTION
0,0,Breaking Bad,2008,9.5,1727694,48,5,drama,US
1,1,Avatar: The Last Airbender,2005,9.3,297336,24,3,scifi,US
2,2,Our Planet,2019,9.3,41386,50,1,documentary,GB
3,3,Kota Factory,2019,9.3,66985,42,2,drama,IN
4,4,The Last Dance,2020,9.1,108321,50,1,documentary,US
...,...,...,...,...,...,...,...,...,...
241,241,Evil Genius,2018,7.5,27516,48,1,crime,US
242,242,13 Reasons Why,2017,7.5,282373,58,4,drama,US
243,243,Lupin,2021,7.5,100575,46,3,crime,FR
244,244,All of Us Are Dead,2022,7.5,41393,61,1,action,KR
245,245,I Am Not Okay with This,2020,7.5,56459,21,1,comedy,US

In [30]:
netflix_bestShows.isna().sum() / len(netflix_bestShows)

index                0.0
TITLE                0.0
RELEASE_YEAR         0.0
SCORE                0.0
NUMBER_OF_VOTES      0.0
DURATION             0.0
NUMBER_OF_SEASONS    0.0
MAIN_GENRE           0.0
MAIN_PRODUCTION      0.0
dtype: float64

<div class="alert alert-block alert-info">
    <span style='font-family:Georgia'>
        <b>Insight: </b><br>
        the Shows data set don't need any cleaning, just need to identify the categorizations for the columns, to use them in visualization
    </span>    
</div>